<div class = "tinet">
	<tbody><tr>
	<td width="40%" class="al_r">Escriu el text de la dreta aquí<span class="vermell">*</span>:</td>
	<td width="20%"><input ng-model="captcha" type="text" tabindex="17" size="6" maxlength="6" id="captcha" name="captcha" class="textbox"></td>
	<td width="40%"><img alt="codi de seguretat" src="https://www.tinet.cat/portal/Captcha.jpg" stype="margin-top:2.5em;"></td>
	</tr>
	</tbody>
	<p>Sumando en angular: {{ 1+2 }}<p>
	<p>Valor de la variable $scope.usuari= {{usuari}}<p>
	 <ul>

	<button ng-click="btnclic()">Get user</button><br/><br/>

	<p>{{results}}</p>
</div>